@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);

  --text-13: 0.8125rem;
  --text-13--line-height: 1.2rem;

  --text-15: 0.9375rem;
  --text-15--line-height: 1.375rem;
}
