@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);

  --text-13: 0.8125rem;
  --text-13--line-height: 1.2rem;

  --text-15: 0.9375rem;
  --text-15--line-height: 1.5rem;
}

@custom-variant hocus (&:hover, &:focus);

@layer base {
  body {
    color: #e2e8f0;
    background: #131314;
  }

  code,
  pre {
    font-variant-ligatures: none;
  }
}

@layer components {
  .content-container {
    @apply mx-auto max-w-2xl;
    @apply px-5 sm:px-6 transition-[padding];
  }
  .hover-dashed {
    @apply no-underline decoration-blue-400;
    &:hover {
      @apply underline decoration-dashed;
    }
  }
}
