---
import Layout from './_layout.astro';

import Products from './_home/_products.astro';
import FishTank from './_home/_fish-tank.astro';

const products = [
  {
    href: 'https://pokemon-awesome.vercel.app/',
    name: 'Pokémon Awesome',
    desc: 'Rank #2 on Google when you search for "compare pokemons".',
    dateInfo: 'Jul 2024',
    preview: { src: 'pokemon-awesome.webp', width: 600, height: 379 },
    previewPlaceholder: { src: 'pokemon-awesome-placeholder.webp', width: 500, height: 316 },
  },
  {
    href: 'statistiku',
    name: 'Statistiku',
    desc: 'An innovative web-based statistics tool, showcasing my proficiency in math, statistics, & programming. Yes, it really is from more than 5 years ago.',
    dateInfo: 'Mar 2019',
    preview: { src: 'statistiku.webp', width: 600, height: 379 },
    previewPlaceholder: { src: 'statistiku-placeholder.webp', width: 500, height: 316 },
  },
  {
    href: 'https://www.youtube.com/@afifu',
    name: 'YouTube.com/@afifu',
    desc: 'Well-animated educational contents on software engineering.',
    dateInfo: '2021-2023',
    preview: { src: 'afif-youtube-channel.webp', width: 800, height: 516 },
  },
  {
    href: 'https://isosehat.netlify.app/?source=afiiif.github.io',
    name: 'Healthcare 🤝 Isochrone',
    desc: 'An interactive GIS web app that integrates OpenStreetMap, OpenRoute Service, and WorldPop Hub data to analyze healthcare facilities accessibility using isochrones.',
    dateInfo: 'Oct 2024',
    preview: { src: 'https://isosehat.netlify.app/img/preview.webp', width: 870, height: 540 },
  },
  {
    href: 'https://marketplace.visualstudio.com/items?itemName=afifu.vscode-js-ts-react-nextjs-snippets',
    name: 'JS/TS React/Next.js Snippets',
    desc: 'Productivity VSCode extension (6K+ installs).',
    dateInfo: 'May 2023',
    preview: { src: 'vscode-js-ts-snippets.webp', width: 680, height: 306 },
  },
  {
    href: 'kode-wilayah-dan-pos',
    name: 'KodeWilayah',
    desc: 'The simplest website to search Indonesian region code & postal code.',
    dateInfo: 'Jun 2024',
    preview: { src: 'kode-wilayah-dan-pos.webp', width: 600, height: 379 },
  },
  {
    href: 'https://www.youtube.com/watch?v=q7Lbn_JtLdw',
    name: 'BagiTugas (BPS)',
    desc: "Crafted an app from scratch using Bootstrap, PHP, and SQLite, which significantly improved the efficiency and speed of my coworker's workflow.",
    dateInfo: 'Jul 2020',
    preview: { src: 'bagitugas.png', width: 850, height: 403 },
  },
  {
    href: 'spk',
    name: 'National Standard Industrial Classification',
    desc: 'Industrial classification code & definition used by BPS (national statistics office).\nNo fancy tech-stacks, just a solution to a REAL problem.',
    dateInfo: 'Jun 2020',
    preview: { src: 'spk.webp', width: 600, height: 379 },
  },
];
---

<Layout
  title="Muhammad Afifudin"
  description="Muhammad Afifudin, a software engineer, designer, content creator, ex-statistician."
>
  <Fragment slot="head">
    <link
      rel="preload"
      as="image"
      type="image/webp"
      href={`/img/${products[0].previewPlaceholder!.src}`}
    />
    <link
      rel="preload"
      as="image"
      type="image/webp"
      href={`/img/${products[1].previewPlaceholder!.src}`}
    />
  </Fragment>

  <h1 class="font-bold text-2xl sm:text-3xl">Muhammad Afifudin 🇮🇩</h1>
  <p class="pt-0.5 text-neutral-400 text-lg sm:text-2xl font-extralight">
    Software engineer & designer
  </p>

  <p class="pt-8">
    I love creating products that bring real value to people, and sometimes dive into unique
    projects just for fun. I bring together technical precision and creative vision.
  </p>
  <p class="pt-4">
    Frontend, backend, web/mobile? Been there, done that. Built many kinds of projects, solved
    countless challenges, and learned a ton along the way.
  </p>
  <p class="pt-4">I'm a professional remote worker, and currently not interested in on-site job.</p>

  <div
    class="mt-20 text-2xl font-extralight flex gap-3.5 items-center text-neutral-400 tracking-wide"
  >
    <h2>PROJECTS</h2>
    <div class="h-px bg-neutral-500 flex-1"></div>
  </div>
  <Products products={products} />
  <section class="pt-10 pb-1">
    <div class="sm:flex sm:items-center sm:justify-between">
      <h3 class="inline font-semibold text-lg mr-1">Insaniquarium Fun Project</h3>
      <div class="text-sm bg-neutral-800 text-white inline-block rounded-md px-2 py-0.5">
        Sep 2024
      </div>
    </div>
    <p class="text-sm pt-1.5 pb-4 text-neutral-400 font-light">
      Take a moment to relax, unwind, and watch the fish.
    </p>
    <FishTank />
  </section>

  <div
    class="mt-24 text-2xl font-extralight flex gap-3.5 items-center text-neutral-400 tracking-wide"
  >
    <h2>SKILLS</h2>
    <div class="h-px bg-neutral-500 flex-1"></div>
  </div>
  <ul
    class:list={[
      'pt-8 flex flex-wrap gap-2 items-center',
      '[&_li:not(:last-child)]:bg-neutral-800 [&_li:not(:last-child)]:px-2 [&_li:not(:last-child)]:py-0.5 [&_li:not(:last-child)]:rounded-md',
    ]}
  >
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Node.js</li>
    <li>Next JS</li>
    <li>Astro JS</li>
    <li>Svelte</li>
    <li>Vanilla JS</li>
    <li>jQuery</li>
    <li>Tailwind</li>
    <li>Ant Design</li>
    <li>CSS Animation</li>
    <li>TanStack-Query</li>
    <li>SQL</li>
    <li>Python</li>
    <li>Data Visualization</li>
    <li>GIS</li>
    <li class="text-neutral-400">and many more...</li>
  </ul>

  <div
    class="mt-24 text-2xl font-extralight flex gap-3.5 items-center text-neutral-400 tracking-wide"
  >
    <h2>LINKS</h2>
    <div class="h-px bg-neutral-500 flex-1"></div>
  </div>
  <ul
    class:list={[
      'pt-7',
      '[&_a]:inline-block [&_a]:py-1',
      '[&_a:hover]:underline [&_a:hover]:decoration-dashed [&_a:hover]:decoration-blue-400',
      '[&_span]:text-neutral-400 [&_span]:ml-[3px]',
    ]}
  >
    <li>
      <a href="mailto:afiiifudin@gmail.com">afiiifudin@gmail.com &nbsp;📬</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/m-afifudin/">linkedin.com<span>/m-afifudin</span></a>
    </li>
    <li>
      <a href="https://github.com/afiiif">github.com<span>/afiiif</span></a>
    </li>
    <li>
      <a href="https://x.com/digimushrm">x.com<span>/digimushrm</span></a>
    </li>
    <li>
      <a href="https://youtube.com/@afifu">youtube.com<span>/@afifu</span></a>
    </li>
  </ul>

  <div class="pb-12"></div>
</Layout>

<style is:global>
  a {
    @apply decoration-dashed;
  }

  .appear {
    opacity: 0;
    animation: appear 0.5s linear 0.7s forwards;
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }
</style>

<script>
  const assetsUrl =
    process.env.NODE_ENV === 'development'
      ? 'img'
      : 'https://afif-assets.pages.dev/afiiif_github_io/v1';

  setTimeout(() => {
    fetch(`${assetsUrl}/pokemon-awesome.webp`).then((res) => {
      res.blob().then((imgBlob) => {
        const $img = document.getElementById('img-0') as HTMLImageElement;
        $img.src = URL.createObjectURL(imgBlob);
        $img.nextElementSibling!.remove();
      });
    });
  }, 500);

  setTimeout(() => {
    fetch(`${assetsUrl}/statistiku.webp`).then((res) => {
      res.blob().then((imgBlob) => {
        const $img = document.getElementById('img-1') as HTMLImageElement;
        $img.src = URL.createObjectURL(imgBlob);
        $img.nextElementSibling!.remove();
      });
    });
  }, 1600);
</script>
